.container{
    width: 25%;
    height: 100vh;
    position: relative;
}
.seacrh{
    width: 100%;
    border: solid 2px var(--main-blue);
    margin: 20px 0px;
    padding: 10px 15px;
    border-radius: 25px;
    outline: none;
}
.seacrh:focus{
    border: solid 2px var(--main-red);
}
.item{
    color: white;
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: opacity .2s linear;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemblue{
    background: var(--main-blue);
}
.itemred{
    background: var(--main-red);
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.orangeCircle{
    background: rgb(34, 239, 246);
}
.grayCircle{
    background: rgb(220, 220, 220);
}
.greenCircle{
    background: rgb(9, 200, 9);
}
.item:hover{
    opacity: .6;
}
.itemList{
    height: 80%;
    overflow-y: scroll;
}
.addButton{
    background: var(--main-red);
    border: none;
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-family: bold;
    font-size: 16px;
    cursor: pointer;
    transition: opacity .2s linear;
}
.addButton:hover{
    opacity: .6;
}
.divAddButton{
    position: absolute;
    bottom: 0;
}